

/* fix kupu */
body.kupu {background:none;}

.kupu-fulleditor {border: solid black 1px}

/* Collapsible elements in search_form */

.collapsible .collapser.collapsed {
    padding-right: 14px;
    background: url('arrowRight.png') center right no-repeat;
} 

.collapsible .collapser.expanded {
    padding-right: 14px;
    background: url('arrowDown.png') center right no-repeat;
} 
/* @end */



/* @group Data tables */

table.listing {
	border-spacing: 0; 
}

table.listing td, 
table.listing th {
	padding: 0.5em 1em;
	vertical-align: top;
	line-height: 2em;
}

table.listing td.listingCheckbox, 
table.listing th.listingCheckbox {
	text-align: center;
}

table.listing thead th {
	text-align: left;
	color: #666;
	border: 0.1em solid #e7e7e7;
	border-style: solid none none;
}
table.listing tr.odd th {
	border: 0.1em solid #fff;
	border-style: solid solid none none;
}
table.listing tbody th {
	font-weight: bold;
}
table.listing tbody tr {
	text-align:left;
}
table.listing tbody tr.odd {
	background: #eee;
}
table.listing tbody tr td { 
	background: transparent;
}
table.listing tbody tr.odd td { 
	background: #eee;
}
table.listing a { 
	line-height: 2em;
	border: none;
	display: inline-block;
}

table.listing td.draggable {
	text-shadow: White 1px 1px 1px;
	background: #ddd !important;
	border-bottom: 1px solid white;
	padding: 0.4em 0.4em 0 0.5em;
}
.dragindicator {
	outline: 2px solid #FFD700;
}

#foldercontents-order-column {
	padding: 0;
}

div.listingBar {
	font-size: 80%;	
	margin: 1em 0;
}

div.listingBar .next {
	display: inline-block;
	float: right;
}

div.listingBar .previous {
	display: inline-block;
}

div.listingBar a {
	display: inline-block;
	padding: 0.25em 0.5em;
	border: 0.1em solid #ccc;
}

div.listingBar a:focus,
div.listingBar a:hover {
	color: White;
	background-color: #329fd7;
	border-color: #329fd7;
}

/* @end */

/* @group Status messages */

dl.portalMessage {
	margin: 1em 0;
	font-size: 80%;
	border: 1px solid #996;
	background-color: #ffffe3;
	clear:both;
}
dl.portalMessage a,
#content dl.portalMessage a {
    color: black;
	border-bottom: 1px solid black;
}
dl.portalMessage dt {
    background-color: #996; 
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: White;
    line-height: 1.25em;
}
dl.portalMessage dd {
    padding: 0.5em 0.5em; 
    margin: 0;
    line-height: 1.25em;
}
dl.warning {
    border-color: #d80;
}
dl.warning dt {
    background-color: #d80;
}
dl.error {
    border-color: #d00;    
}
dl.error dt {
    background-color: #d00; 
}
dl.warning {
    border-color: #d80;    
}
dl.warning dd {
    background-color: #fd7; 
}
dl.error {
    border-color: red;    
}
dl.error dd {
    background-color: #fdc; 
}

/* Additional specificity for when status is shown inside #content */
#content dl.portalMessage {
	font-size: 100%;
}
#content dl.portalMessage dt {
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
}
#content dl.portalMessage dd {
    margin: 0;
}

/* @end */

/* @group Editing */

/* @group Tabs */

/* Color differences between the two tab types */
#content ul.formTabs {
	background-color: #ddd;
	border: 0.3em solid #ddd;
}
#edit-bar {
	background-color: #75ad0a;
	border: 0.25em solid #75ad0a;
	font-size: 80%;
	min-height: 2em;
	margin-bottom: 1em;
}
#content-views {
	float: left;
	background-color: #75ad0a;
}

#content-views li {display:inline;}

#content-views a {
	color: White;
}

/* Shared CSS between the two tab types */
#edit-bar,
#content ul.formTabs {
    display: block;
	border-style: solid solid none solid; 
	margin-left: 0;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
}
#content li.formTab {
    display: inline;
	margin-right:0.25em;
}
#content-views a,
#content li.formTab a {
    /* this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}
#content-views a,
#content li.formTab a {
	line-height: 2em;
    padding: 0 0.75em;
    text-decoration: none;
	border: none;
	font-weight: bold;
	margin: 0 ;
}
#content-views li.selected a, 
#content-views li a:focus, 
#content-views li a:hover, 
#content li.formTab a.selected,
#content li.formTab a:focus,
#content li.formTab a:hover {
    background: White;
    color: Black;
}
#content-views li.selected a,
#content-views li a:focus,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:focus,
#content li.formTab a:hover {
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
}
#content li.formTab a.notify {
    background-color: red;
    color: White;
}
#content li.formTab a.required span {
    background-image: url(required.png);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 1em;
}
#content fieldset.formPanel {
	border: none;
}
#content fieldset.formPanel.hidden {
    display: none;
}
#content div.formControls input.hidden {
    display: none;
}

/* @end */

/* @group Pulldown menus */

/* @group Personal tools pulldown */
#portal-personaltools dl {
}
#portal-personaltools dt {
	font-weight: normal;
}
#portal-personaltools dt.actionMenuHeader a:after {
	content: " ▼";
}
#portal-personaltools dd {
	right: 0;
	padding-top: 0.5em;
}
#portal-personaltools dd {
	background: #000000;
	padding-bottom: 0.5em;
}
#portal-personaltools dd a {
	line-height: 2em;
	padding: 0 0.75em;
}
#portal-personaltools dd a:focus,
#portal-personaltools dd a:hover {
	background: #205c90;
	color: White;
}

/* @end */

/* @group Content pulldowns */

#contentActionMenus li {display:inline}
#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
	background-color: #75ad0a;
	color: White;
	font-weight: bold;
	z-index: 5;
}
#contentActionMenus dl.actionMenu a:focus,
#contentActionMenus dl.actionMenu a:hover {
    color: #000000;
}
#contentActionMenus dl.actionMenu.activated dd {
	border-bottom: 0.5em solid #75ad0a;
        right: -3px;
}
#contentActionMenus dl.actionMenu.activated dd a:focus,
#contentActionMenus dl.actionMenu.activated dd a:hover,
#contentActionMenus dl.actionMenu.activated dd .actionMenuSelected {
	background-color: White !important;
	color: #666;
}
#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu div {
	line-height: 2em;
}

#folderHeader, #contextHeader {
        border-bottom: 2px solid white;
}

#contextHeader { margin-top: 5px; }


/* @end */

#contentActionMenus {
	float: right;
	background: #75ad0a;
	margin: 0;
}

dl.actionMenu {
	float: right;
	white-space: nowrap;
    position: relative;
}
dl.actionMenu a,
dl.actionMenu div {
    display: block;
    white-space: nowrap;
	padding: 0 0.25em;
}
dl.actionMenu.deactivated dt {
	margin: 0 0.25em;
}
dl.actionMenu.deactivated dd {
    display: none;
}
dl.actionMenu.activated dd {
    position: absolute;
    width: auto;
    min-width: 100%;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
}
dl.actionMenu.activated dt a,
dl.actionMenu.activated dd a,
dl.actionMenu.activated dd div {
	margin: 0 0.25em;
}

/* @end */

/* @group Control panel */

#setup-link {
	font-size: 90%;
}

#content ul.configlets {
    margin: 1em 0;
    list-style-image: none;
    list-style: none;
}
#content ul.configlets li {
    margin-bottom: 1em;
    list-style: none;
    display: block;
}
#content ul.configlets li a {
    text-decoration: none;
    border: none;
}
#content ul.configlets li a:visited {
    color: #436976;
    background-color: transparent;
}
#content ul.configlets li a:active {
    color: #436976;
    background-color: transparent;
}
#content ul.configlets li label {
    font-weight: bold;
}
#content ul.configletDetails {
    margin: 0em 1em 1em 4em;
    list-style-image: none;
    list-style: none;
}
#content ul.configletDetails li {
    margin-bottom: 1em;
    display: inline;
}
#content ul.configletDetails li a {
	text-decoration: none;
}
#content ul.configletDetails li label {
    font-weight: bold;
}
#content ul.configletDetails li.configletDescription {
    display: block;
    color: #76797c;
    margin: 0;
}
.inlineDisplay {
    display:inline
}
table.controlpanel-listing {
    width:100%;
}
table.controlpanel-listing td, table.controlpanel-listing th {
    font-size:120%;
}
table.controlpanel-listing dl {
    margin-top:0;
}
table.controlpanel-listing dd {
    margin-left: 1em;
}
table.controlpanel-listing dl dt a .trigger{
    font-weight:normal;
}
table .controlpanel-listing td {
    vertical-align:top;
}
table.controlpanel-listing td.checker{
    text-align:center;
}
table.controlpanel-listing th.smallcolumn {
    width:1.5em;
}
.chooser-right {
    float:right;
    margin-right:0;
    margin-bottom:0;
}
.rule-element {
    background-color:#EEF3F5;
    margin:0.5em 0pt 0.5em;
    padding:0.3em 1em 0.3em 1em;
    width:auto;
}
.rule-element dl {
}
.rule-element dl dd {
    margin-left:1em;
}
.rule-updown, .rule-operations {
    float:right;
    padding-top:0.8em;
}
/* @end */

/* @group Collapsible */
dl.collapsible {
    border: 0.1em solid #8cacbb;
    margin: 1em 0;
    padding: 0;
}
dl.collapsible dt.collapsibleHeader {
    display: block;
    float: left;
    background: White;
    line-height: 1.2em;
    vertical-align: middle;
    font-size: 90%;
    position: relative;
    top: -0.6em;
    width: auto;
    margin: 0 0 -0.6em 1em;
    padding: 0 0.5em;
}
dl.collapsible dd.collapsibleContent {
    margin: 0;
    padding: 0 1em 0.4em;
    clear: left;
}

/* for IE the following isn't needed, that's why the css2 selector is used */
dl.collapsible dd.collapsibleContent > dl {
    margin: 0;
    padding: 0;
}

dl.expandedInlineCollapsible dt.collapsibleHeader,
dl.expandedBlockCollapsible dt.collapsibleHeader {
    padding: 0 0.5em 0 2em;
    background: White url(treeExpanded.png) no-repeat 0.5em 50%;
    cursor: pointer;
}

dl.collapsedBlockCollapsible {
    border: none;
    height: 1em;
    width: auto;
}
dl.collapsedBlockCollapsible dt.collapsibleHeader {
    float: none;
    position: relative;
    margin: 0 0 0 1em;
    padding: 0 0.5em 0 2em;
    line-height: 1.2em;
    cursor: pointer;
    background: White url(treeCollapsed.png) no-repeat 0.5em 50%;    
}
dl.collapsedInlineCollapsible dd.collapsibleContent,
dl.collapsedBlockCollapsible dd.collapsibleContent {
    display: none;
}
dl.collapsedInlineCollapsible {
    border: none;
    height: 1em;
    width: auto;
    display: inline;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader {
    position: static;
    float: none;
    margin: 0;
    padding: 0 0 0 2em;
    line-height: 1em;
    cursor: pointer;
    display: inline;
}

/* @end */

/* @group Comments */

.comment {
	border: 0.1em solid #eee;
	background-color: #f6f6f6;
    padding: 0.25em 1em 1em 1em;
    margin-bottom: 1em;
	font-size: 80%;
}
.comment h1,
.comment h2,
.comment h3,
.comment h4, 
.comment h5,
.comment h6 {
    border-bottom: 0.1em solid #76797c;
    font-weight: normal;
}

/* @end */

.reviewHistory,
.contentHistory {
    display: inline;
    color: Black;
}
.spacer {
    margin: 1em;
}

.label {
    font-weight: bold;
    display: inline;
    padding-right: 0.5em;
}
.optionsToggle {
    border: 0.1em solid #8cacbb;
    color: Black;
    background-color: #dee7ec;
    font-weight: normal;
    font-size: 90%;
} 

/* for highlighting of search terms */
.highlightedSearchTerm {
   background-color: #ffa;
}

dl.searchResults .highlightedSearchTerm {
    background-color: transparent;
    font-weight: bold;
}
/* for greying out inherited roles */
.noInheritedRoles {
    color: #a0a0a0;
}
/* for highlighting current items, like the language or today in the calendar */
.currentItem {
    border-collapse: collapse;
    border: 0.2em solid #ffa500;
    padding: 0.1em;
}


/* @end */

/* @group Search results page */

form.searchPage {
    text-align:center;
}

input.searchPage {
    font-size:200% !important;
}

/* @end */


/* @group Image alignment classes */

.image-left {
   float: left;
   clear: both;
   margin: 0.5em 1em 0.5em 0;
}
.image-right {
   float: right;
   clear: both;
   margin: 0.5em;
}
.image-inline {
   float: none;
}
/*note: the tricky thing here is that image-inline|image-left|image-right
can both be on an image and a wrapper element e.g. a dl tag*/
img.image-left,
img.image-right,
.captioned img {
    border: 1px solid #ddd;
}
dd.image-caption {
    text-align: left;
    padding: 0 0 0 3px; /*image padding+border with*/
    margin: 0;
    color: #666;
    font-size: 85%;
}

/* @end */


/* @group Dashboard */

#dashboard-actions ul,
#dashboard-actions ul li {
    list-style: none;
}
#dashboard-actions ul {
    margin-left: 0;
}

/* @end */

/* @group Forms */

fieldset,
.editionComment {
    line-height:1.5em;
    margin:1em 0;
    padding:0 1em 1em;
    width:auto;
}

/* Emulates the styling from the h1 tag */
#archetypes-fieldname-title input {
	font-family: "Helvetica Neue", Arial, FreeSans, sans-serif; 
	font-weight: bold;
	line-height: 125%;
	color: Black;
	letter-spacing: -0.05em;
	font-size: 1.625em; /* 26px equiv */
}

div.formControls {
	margin: 1em 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	background-color: #ffffe0;
}

#content textarea {
    font: 100% Monaco, "Courier New", Courier, monospace;
    width: 100%;
}
#content select {
    vertical-align: top;
}
#content fieldset {
    border: 0.1em solid #329fd7;
    border-style: solid none none none;
}
#content legend {
    padding: 0.5em;
    font-size: 85%;
}
label {
    font-weight:bold;
}

#content label {
}

input[type="checkbox"] + label:hover {
	background: #ddd;
	outline: 0.1em solid #ddd;
/* TODO: This should work, but creates flicker in all browsers. Figure out why.
	position: relative;
	left: -1.5em;
	padding-left: 1.5em;
*/
}

#content optgroup {
    font-style: normal;
    font-weight: bold;
    color: #999;
    padding-left: 0.25em;
}
#content option {
    color: black;
}
#content optgroup > option {
    padding: 0 0.25em 0 1em;
}
dl.enableFormTabbing dd {
    margin-left: 0;
    padding-top: 2em;
}
.searchSection {
    color: #76797c;
    margin-top: 0.25em;
}
.searchSection label:hover {
    color: Black;
}
.field {
    clear: both;
    margin-bottom: 1em;
}
.field input[type="text"] {
	/*width: 100%;*/
}
input#title {
	width: 100%;
}
.error input#title {
    width:99%;
}

.fieldRequired {
    background: url(required.png) center left no-repeat;
    padding: 0 0 0 1em;
    color: White;
}
.fieldUploadFile {
    text-align: right;
    margin-right: 0.75em;
    display: none;
}
.fieldTextFormat {
    text-align: right;
    margin-right: 0.75em
}
.formHelp {
	color: #555;
	margin: 0 0 0.2em 0;
}
div.error {
    background-color: #fdc;
    border:  1px solid red;
    padding: 0.5em;
    margin:  1em 0;
}
.error .fieldRequired {
    color: #d00;
}
div.error.warning {
	background-color: transparent;
	border: none;
	margin-top: 0;
	padding: 0;
}

div.error.warning input {
	border: 2px solid red;
}

input.inputLabelActive {
    color: #76797c;
}
textarea#form\.description {
    height: 6em;
    width: 99%;
}
table.listing tbody tr.odd.selected td,
tr.selected {
    background-color: #ffa;
}


/* @end */

/* @group Table of Contents */

 /*Table of Contents styling - essentially a portlet with smaller fonts and aligned right + limited in width*/ 

dl.toc {
	float: right;
    width: 35%;
	font-size: 100%;
    margin: 1em 0 0.5em 1.5em;
}
dl.toc dt {
	margin-left: 1em;
	font-weight: normal;
	text-transform: uppercase;
}
dl.toc dd {
	margin-bottom: 0;
	padding-left: 2em;
}
dl.toc dd ol {
	margin-left: 1.5em;
}

/* @end */

/* @group Footer */

#portal-footer {
	font-size: 75%;
	background: #ddd;
	padding: 1em; 
	margin: 1em 0;
}

#portal-colophon {
	font-size: 70%;
	text-align: center;
	margin-bottom: 1em;
}

#portal-colophon li {
    padding:0 0.75em;
}

#portal-colophon a {
	color: #444;
}

/* @end */

/* @group Sitemap */

#portal-sitemap {
    list-style: none;
    margin-left: 0;
    font-size: 130%;
    font-weight: bold;    
}

#portal-sitemap li {
    list-style: none;
    margin-left: 0;
}

#portal-sitemap a {
    border-bottom: none;
    display: block;
}

#portal-sitemap > li {   
    border-bottom:0.1em dotted #ddd;
    line-height:1.8em;
    padding:0.25em 1em;
    margin-bottom: 0;
}

#portal-sitemap .navTreeLevel2,
#portal-sitemap .navTreeLevel2 ul {
    font-size: 85%;
    font-weight: normal;  
    margin-bottom: 0;  
    padding: 0.25em 0;
}

/* @end */

/* @group Album view classes */
.photoAlbumEntry {
    float: left;
    position:relative;
    overflow: hidden;
    height: 185px;
    width: 143px;
    margin: 0em;
    padding: 0px 6px 0px 9px;
    text-align: center;
    background-image: url('polaroid-single.png');
    background-repeat: no-repeat;
}
.photoAlbumEntry img {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
}
.photoAlbumEntryWrapper {
    /*display: block;*/
    height: 130px;
    width: 128px;
    margin-bottom: 7px;
}
.photoAlbumEntry a {
    display: block;
    text-decoration: none;
    font-size: 90%;
    height: 169px;
    width: 130px;
    margin: 16px auto 0px;
}
.photoAlbumFolder {
    background-image: url('polaroid-multi.png');
    background-repeat: no-repeat;
}
.photoAlbumEntryTitle {
    color: #76797c;
    display: block;
    width: 128px;
    height: 3.6em;
}

/* @end */


/* @group Content History */

#content-history #history dd {
}

#content-history div.historyRecord {
	margin-bottom: 1em;
}


#content-history div.historyTools ul {
	float: right;
	margin: 0.5em 1em;	
}

#content-history div.historyTools ul li {
	display: inline;
	padding: 0 0.015em;
}

#content-history div.historyTools ul li a{
	border-bottom: none;
}

#content-history div.historyTools form {
	display: inline;
}

#content-history .historyAction {

}

#content-history .historyByLine {
	background: #ddd;
	padding: 0.5em;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
}

#content-history div.historyLinks {
	float: right;
	clear: right;
	margin: 0.5em 1em 0 0;
}


#content-history div.historyComment {
	padding: 0.5em 1em;
	border: 1px solid #ddd;
}

#content-history div.historyComment p {
	margin: 0;
	padding-top: 1px;	
}

#content-history a.historyComparePrevious {
	border-top: 1px dotted #ccc;
	display: block;
	margin-top: 3em;
	text-align: center;
}

#content-history a.historyComparePrevious span {
	background-color: white;
	position: relative;
	top: -0.75em;
	padding: 0 0.5em;
}

/* @end */

/* @group Core content type sprites */
/*
.contenttype-document {
	background: no-repeat transparent 3px 4px url(contenttypes-sprite.png);
}
.contenttype-event {
	background: no-repeat transparent 3px -62px url(contenttypes-sprite.png);
}
.contenttype-file {
	background: no-repeat transparent 3px -128px url(contenttypes-sprite.png);
}
.contenttype-folder {
	background: no-repeat transparent 3px -194px url(contenttypes-sprite.png);
}
.contenttype-image {
	background: no-repeat transparent 3px -260px url(contenttypes-sprite.png);
}
.contenttype-link {
	background: no-repeat transparent 3px -326px url(contenttypes-sprite.png);
}
.contenttype-news-item {
	background: no-repeat transparent 3px -392px url(contenttypes-sprite.png);
}
.contenttype-plone-site {	
	background: no-repeat transparent 3px -456px url(contenttypes-sprite.png);
}
.contenttype-topic {
	background: no-repeat transparent 3px -524px url(contenttypes-sprite.png);
}
*/
/* @end */

}

/* - member.css - */
@media screen {
/* - member.css - */

/* workflow state colors */

.state-private {
	color: Red !important;
}
.state-visible {
	color: #74AE0B !important;
}
/*
.state-published {
	color: #436976 !important;
}
*/
.state-pending {
	color: #FFA500 !important;
}
.state-expired {
	color: Red !important;
}
.syndicated {
	color: #008000 !important;
}

/* Pulldown menu state indicators */

#plone-contentmenu-workflow .state-private {
	padding: 0 0.5em;
	background-color: Red;
	border: 0.1em solid Red;
	color: White !important;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}
#plone-contentmenu-workflow .state-visible {
	padding: 0 0.5em;
	background-color: #74AE0B;
	border: 0.1em solid #74AE0B;
	color: White !important;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}
#plone-contentmenu-workflow .state-published {
	padding: 0 0.5em;
	background-color: #436976;
	border: 0.1em solid #436976;
	color: White !important;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}
#plone-contentmenu-workflow .state-pending {
	padding: 0 0.5em;
	background-color: #FFA500;
	border: 0.1em solid #FFA500;
	color: White !important;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}

}

